<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.8.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
  </configSections>
  <log4net configSource="log4net.config" />
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="Map:MoveUpKey" value="w"/>
    <add key="Map:MoveDownKey" value="s"/>
    <add key="Map:MoveLeftKey" value="a"/>
    <add key="Map:MoveRightKey" value="d"/>
  </appSettings>
</configuration>
